.antButton{
    border-radius: 20px !important;
    width: 100px;
    height:25px;
    background-color: rgb(235, 34, 151) !important;
    border: none !important;
}

.antButton:hover{background-color: rgb(255, 0, 128) !important; }

@media(max-width:819px){
    .antButton{width: 70px; font-size: 9px !important; height: 18px !important; padding-bottom: 18px !important;}
}